@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Work+Sans&display=swap');

$font-nav: 'Montserrat', sans-serif;
$font-main: 'Spinnaker', sans-serif;
$font-body: 'Montserrat', sans-serif;