
footer {
    background: #104911;
    padding-block: 5px 10px;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: auto;
    

    .container-footer {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
        
        
        i {
            font-size: 1.15rem;
        }
        
        .visit-us, .social-media, .contact-us {
            width: 240px;
        }
    }
}

@media (min-width: 900px) {
    .container-footer {
        gap: 10vw !important;
    }
}


